java/jaxb3demo/src/main/resources/user.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="com.something"
        xmlns:userns="com.something"
        elementFormDefault="qualified">

    <element name="userRequest" type="userns:UserRequest"></element>
    <element name="userResponse" type="userns:UserResponse"></element>

    <complexType name="UserRequest">
        <sequence>
            <element name="id" type="int" />
            <element name="name" type="string" />
            <element name="active" type="boolean" />
            <element name="repoAccess" type="boolean" minOccurs="0"/>
        </sequence>
    </complexType>

    <complexType name="UserResponse">
        <sequence>
            <element name="id" type="int" />
            <element name="name" type="string" />
            <element name="gender" type="string" />
            <element name="created" type="dateTime" />
            <element name="active" type="boolean" />
            <element name="repoAccess" type="boolean" minOccurs="0"/>
        </sequence>
    </complexType>
</schema>